* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {    
    display: flex;
    margin: 10% 0;
    flex-direction: column;
    align-items: center;
    height: 100vh
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {    
    text-align: initial;
}

form ul {
     margin-left: 15px;
}

form ul li {
    margin-bottom: 5px;
    font-size: 14px;
}

.tarefaCompleta {
    text-decoration: line-through;
    text-decoration-color: red;
    
}

form input {
    padding: 5px;
    margin-bottom: 20px;    
}

form button {
    padding: 7px;
    background: #65a30d;
    cursor: pointer;   
    border: none;
    border-radius: 3px;
    font-weight: bold;
    color: black;
}

form button:hover {
    background: #84cc16;
}